<!-- Begin Main Content Area -->
@model string
<div class="error-404-area section-space-y-axis-100"
     data-bg-image="~/assets/images/error-404/bg/1-1920x886.png">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 align-self-center">
                <div class="error-404-content">
                    <div class="error-404-img">
                      
                    </div>
                    <h2 class="title"> @Model</h2>
                    <div class="button-wrap">
                        <a class="btn btn-error" href="index.html">
                            Back to home
                            <i class="pe-7s-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Area End Here -->